{% extends 'base.html' %}
{% load recipe %}

{% block content %}

<section id="left-section">
    <br>
    <form style="absolute; right: 30px">
        <input type="text" name="productname" placeholder="Enter a product name"/>
        <button hx-post="{% url 'IngredientHub:search_edit' %}" hx-target="#searchdisplay" type='submit'>Search Product</button>
    </form>
    <div id="searchdisplay" style="absolute; right: 30px">
        {% include "partials/search_display.html" %}
    </div>
</section>
<section id="middle-section">
    <div style="display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
        <form method='post'>
            {% csrf_token %}
                <div class="fieldWrapper">
                    <table style="margin: auto;">
                        {% for field in form %}
                            <tr>
                                <td>{{ field.label_tag }}</td>
                                <td>{{ field }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <br>
                    <div id="display_selected_at_edit">
                        {% include 'partials/display_selected_at_edit.html' %}
                    </div>
                    <br><br>
                    <div>
                        {% if categories %}
                            <table class="table custom-table">
                                {% for row in categories|chunks:3 %}
                                    <tr style="text-align: left;">
                                        {% for category in row %}
                                            <td margin= "10px 0;" padding="10px;">
                                                <a href="#" hx-get="{% url 'IngredientHub:sub_edit' cat_id=category.id %}" hx-target="#subcat_at_edit">{{ category.name }}</a>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <p>No category</p>
                        {% endif %}
                    </div>
                    <div id='subcat_at_edit'>
                        {% include 'partials/display_subcat_at_edit.html' %}
                    </div>
                    <div id='products_at_edit'>
                        {% include 'partials/display_products_at_edit.html' %}
                    </div>
                <center>
                <div>
                    <br><br><br><br>
                    <input type='submit' value='Submit'>
                </div>
                </center>
            </div>
        </form>
    </div>
</div>
</section>
<section id="right-section"></section>

{% endblock %}

